NAME
  terminator

SYNOPSIS
  an external timeout mechanism based on processes and signals.  safe on
  windows.  safe for system calls.  safe for minors.

INSTALL
  gem install terminator

URIS
  http://codeforpeople.com/lib/ruby
  http://rubyforge.org/projects/codeforpeople

HISTORY
  0.4.2
    initial version with

AUTHORS
  ara.t.howard - ara.t.howard@gmail.com
  mikel lindsaar - raasdnil@gmail.com

SAMPLES
  @samples
